<div class="media">
  <div style='float:top'>
    <div id="ytplayer"></div>
  </div>
  <div style="float:left; margin-top: 20px;">
   <%= render partial: 'votes/voter', locals: { post: @post } %>
  </div>
   <h1>
     <%= @post.title %> <br>
     <small>
       submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %>
     </small>
   </h1>
 </div>
<div class="row">
  <div class="col-md-8">
    <p><%= @post.body %></p>
    <% if current_user %>
     <%= render partial: 'favorites/favorite', locals: { post: @post } %>
    <% end %>
    <div>
      <h3>Comments</h3>
      <% if @post.comments.count == 0%>
        <small>There are currently no comments for this video. 😕</small>
      <%else%>
        <%= render @post.comments %>
      <%end%>
    </div>
    <% if current_user %>
       <%= render 'comments/form', comment: Comment.new, post: @post %>
     <% end %>
     <div class="col-md-4">
     <h3>
       <%= pluralize(@post.points, 'point') %>
       <div>
         <small>
           <%= pluralize(@post.up_votes, 'up vote') %>,
           <%= pluralize(@post.down_votes, 'down vote') %>
         </small>
       </div>
     </h3>
   </div>
  </div>
<div class="col-md-4">
  <%if user_is_authorized_for_post?(@post)%>
      <%= link_to "Edit", edit_place_post_path(@post.place, @post), class: 'btn btn-primary' %>
      <%= link_to "Delete Post", [@post.place, @post], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this post?' } %>
  <%end%>
  </div>
</div>

<script>
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      height: '500',
      width: '100%',
      videoId: '<%=strip_link_id(@post.link)%>'
    });
  }

  $(document).ready(function(){

    //Check if the current URL contains '#'
    if(document.URL.indexOf("#")==-1)
    {
    // Set the URL to whatever it was plus "#".
    url = document.URL+"#";
    location = "#";

    //Reload the page
    location.reload(true);

    }
    });

</script>
