<h1>Places</h1>

 <div class="row">
   <div class="col-md-8">
     <% @places.each do |topic| %>
       <div class="media">
         <%= link_to image_tag(topic.link, width: '75%'),topic %>
         <div class="media-body">
           <br>

           <h4 class="media-heading">
             <%= link_to topic.name, topic %>
           </h4>
           <small>
             <%= topic.description %>
           </small>
         </div>
       </div>
     <% end %>
   </div>
   <div class="col-md-4">
     <br>
     <%= link_to "Suggest New Place", "https://goo.gl/forms/E16ShDO8QeA4jPJE2",target: "_blank", class: 'btn btn-primary' %>

     <%if current_user%>
       <%if current_user.is_admin? %>
          <%= link_to "New Place", new_place_path, class: 'btn btn-success' %>
       <%end%>
      <%end%>

     <br>
     <br>

   </div>
 </div>
